version: "3.7"
services:
  demo-policy:
    image: ikolomiyets/demo-policy:1.0.0.2
  demo-customer:
    image: ikolomiyets/demo-customers:__DEMO_CUSTOMERS_TAG__
  demo-frontend:
    image: ikolomiyets/demo-frontend:__DEMO_FRONTEND_TAG__
    configs:
    - source: nginx
      target: /etc/nginx/conf.d/default.conf
configs:
  nginx: 
    file: ./default.conf
